.top-bar {
    border-bottom: 1px solid #777;
}

.login input {
    display: inline;
    height: 26px;
    border-radius: 3px;
}

.login .title {
    float: right;
    margin-right: 1rem;
    text-transform: uppercase;
}
.header{
    margin-bottom: 2em;
}

.leader {
    background: #154588;
    color: white;
    padding: 3em 0;
}

.leader .button {
    background: #8DBF58;
    border-radius: 3px;
    font-size: 1.5em;
    margin-top: 2em;
}

.leader .button:hover {
    background: #7DA94D;
}

.leader .lead {
    padding: 0 2em;
}

.existing a {
    color: #232323;
    text-decoration: underline;
    font-size: 12px;
}

.existing a:hover {
    text-decoration: underline;
}

li.logo {
    width: 15em;
    list-style: none;
}

.logo img {
    width: 15em;
}

.logo-container {
    padding: 2em 0;
}

.login .button {
    padding: 0.50em 1em;
    border-radius: 3px;
    background: #8DBF58;
    margin: 0 auto;
    position: relative;
    text-transform: uppercase;
    font-size: 12px;
}

.login .button:hover {
    background: #7DA94D;
}

.login [type='text'],
[type='password'] {
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 0;
}

.menu {
    list-style: none;
}

.menu li a {
    color: #343434;
}

.menu li a:hover {
    color: #343434;
    text-decoration: underline;
}

.content {
    padding: 3em 0;
}

#home .content p {
    color: white;
    margin-top: 8px;
    margin-bottom: 3em;
}

#home .signup .button{
    padding: .5em 1em;
    font-size: 30px;
    border-radius: 10px;
    margin: 0;
}
.content p {
    color: #232323;
}

.contact {
    background: #eeeeee;
    padding: 3em;
}

.contact h3 {
    color: #010101;
}

.contact p {
    color: #9C9C9C;
}

.contact .button {
    background: #27407C;
}

.footer {
    padding: 4em 0;
}

.footer .large-4 {}

.footer .large-8 {
    height: 198px;
}

.footer .large-8 .menu {
    position: relative;
    top: 50%;
}

p.footer-info {
    font-size: 12px;
    line-height: 1;
}
